@page "/Inventory"
@model Viewer_WS_driver_version.Pages.InventoryModel
@{
}
<script src="~/js/inventory.js" asp-append-version="true"></script>

<div style="display: block;">

    <div class="flex-container">
        <div class="box">
            <h5>Кількість пристроїв в розрізі версіі</h5>
            <table class="base-table">
                <thead>
                    <tr>
                        <th>Версія</th>
                        <th>Кількість</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.WScountByPC)
                    {
                        <tr>
                            <td>@item.FileVersion</td>
                            <td class="customLink" onclick="GetPCByFileVersion('@item.FileVersion')">@item.Count</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box">
          @*   <h5>Somth else</h5>
            <table class="base-table">
                <thead>
                    <tr>
                        <th>Версія</th>
                        <th>Кількість пристроїв</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table> *@
        </div>
    </div>
    <table class="base-table" id="tbl-version-by-pc" style="display: none;">
        <thead>
            <tr>
                <th>PcName</th>
                <th>checkDate</th>
                <th>fileVersion</th>
            </tr>
        </thead>
        <tbody id="tbl-version-by-pc-body"></tbody>
    </table>
</div>


<style>
.flex-container {
        display: flex; /* Enacts the flex layout context */
        gap: 16px;     /* Sets a clean space between the inner blocks */
    }

    .box {
        flex: 1;       /* Instructs both blocks to share the width equally */
        padding: 20px;
       
    }
.customLink{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
    .customLink:hover{
        color: red;
    }
</style>